* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #33475b;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

/* typo */

h1{
  font-size: 34px;
  margin-bottom: 20px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
  margin-bottom: 20px;
}

p{
  line-height: 20px;
  margin: 20px 0;
}

/* typo */

a{
  text-decoration: none;
  color: inherit;
}

/* bottoni */
.btn{
  display: inline-block;
  color: #f37559;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #f37559;
  padding: 5px 8px;
}

.btn-important{
  padding: 20px;
  border: none;
}

.btn-red{
  background-color: #f37559;
  color: white;
  border: none;
}

/* end bottoni */


/* stile nav bar sup */
.nav-sup{
  background-color: #f4f9fd;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.nav-dim{
  width: 75%;
  margin: auto;
}

header li{
  display: inline-block;
  text-align: right;
}

header ul{
  display: inline-block;

}

.nav-leng{
  width: 30%;
  display: inline-block;
}

.nav-leng li{
  margin-right: 10px;
}

.nav-leng a{
  border-left: 1px solid black;
  padding-left: 15px;;
}

.nav-login{
  width: 69%;
  display: inline-block;
  text-align: right;
}

.nav-login li{
  margin-left: 20px;
}

/* end stile nav bar sup */

/* stile nav bar inf */

.nav-logo{
  display: inline-block;
  width: 30%;
  padding: 25px 0;
}

.nav-section{
  display: inline-block;
  width: 69%;
  vertical-align: super;
  text-align: right;
}

.nav-section li{
  margin-left: 15px;
}
/* end stile nav bar inf */

/* sezione hero */
.hero{
  height: 580px;
  background-color: #fdf1ef;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 100% -2px;
}

.hero-dim{
  width: 75%;
  margin: auto;
}

.hero-title{
  width: 50%;
  padding-top: 40px;
}

.hero-title .btn{
  margin-bottom: 20px;
}

/* end sezione hero */

/* divisore */
.divisore{
  background-color: #afebe4;
  height: 85px;
  border-bottom: 3px solid black;
}
/* end divisore */

/* sezione servizi */

/* titolo servizi */
#services{
  background-color: #f4f9fd;
}

.services-dim{
  width: 75%;
  margin: auto;
}

.services-title {
  padding-top: 60px;
  width: 65%;
  margin: auto;
  text-align: center;
}

.services-title img{
  width: 250px;
}

.services-title h2{
  margin-bottom: 25px;
}

/* titolo servizi */

/* sezione cmr */

.services-cmr{
  background-color: white;
  border-radius: 5px;
  padding: 39px 0;
  box-shadow:  2px  2px 5px #dedede,
  -2px -2px 5px #dedede,
  2px -2px 5px #dedede,
  -2px  2px 5px #dedede;
}

.cmr-logo {
  text-align: center;
  float: left;
  width: 30%;
}

.cmr-logo img{
  width: 120px;
  display: inline-block;
  margin-bottom: 20px;
}

.cmr-text{
  float:left;
  width: 50%;
}

.cmr-text hr{
  margin-left: 30px;
  border-bottom: 2px solid black;
  width: 300px;
}

.cmr-text h4, hr{
  display: inline-block;
}

.cmr-text nav{
  margin-top: 25px;;
}

.cmr-text li{
  display: inline-block;
}

#services i{
  color: #f37559;
}

/* end sezione cmr */

/* sezione colonne */
.row{
  margin-top: 30px;
  padding-bottom: 30px;
}

.col{
  width: calc((100% / 3) - (40px / 3));
  float: left;
  background-color: white;
  text-align: center;
  padding: 15px 33px;
  box-shadow:  2px  2px 5px #dedede,
  -2px -2px 5px #dedede,
  2px -2px 5px #dedede,
  -2px  2px 5px #dedede;
  border-radius: 5px;
}

nav{
  text-align: left;
}

.col:not(:last-child){
  margin-right: 20px;
}

.col img{
  width: 30%;
  height: 100px;
}

.col hr{
  border: 1px solid black;
  width: 70%;
}


.col h4{
  margin: 30px 0;
}

.col ul{
  list-style-type: none;
  margin-bottom: 30px;
}
/* end sezione colonne */

/* sezione gradiente */

#gradient{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
  padding: 60px 0;
}

.gradient-dim{
  width: 75%;
  margin: auto;
}

.gradient-title{
  text-align: center;
  padding: 30px 0;
}

.block{
  width: calc(100% / 4);
  text-align: center;
  float: left;
}

.block:not(:last-child){
  border-right: 1px solid white;
}

.block img{
  padding-top: 15px;
}

.block-text{
  margin-top: 10px;
}

h5{
  display: inline-block;
  font-size: 30px;
}

.block span{
  font-size: 20px;
  vertical-align: 3px;
}

.block p {
  margin-top: 10px;
  padding-bottom: 10px;
}

.row2-border-top{
  border-top: 1px solid white;
}
