* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #33475b;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.container{
  width: 75%;
  margin: auto;
}

/* typo */

h1{
  font-size: 37px;
  margin-bottom: 20px;
}

h2{
  font-size: 27px;
}

h3{
  font-size: 23px;
  margin-bottom: 20px;
}

p{
  line-height: 20px;
  margin: 20px 0;
  font-weight: 600;
}

/* typo */

a{
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

/* bottoni */
.btn{
  display: inline-block;
  color: #f37559;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #f37559;
  padding: 5px 8px;
}

.btn-important{
  padding: 20px;
  border: none;
}

.btn-red{
  background-color: #f37559;
  color: white;
  border: none;
}

/* end bottoni */


/* stile nav bar sup */
.nav-sup{
  background-color: #f4f9fd;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.nav-dim{
  width: 75%;
  margin: auto;
}

header li{
  display: inline-block;
  text-align: right;
}

header ul{
  display: inline-block;

}

.nav-leng{
  width: 30%;
  display: inline-block;
}


.nav-leng a{
  padding-right: 15px;;
}

#english{
  border-right: 1px solid #33475b;
}

.nav-login{
  width: 69%;
  display: inline-block;
  text-align: right;
}

.nav-login li{
  padding-left: 15px;
}

#search{
  color: #37a5bd;
}

/* end stile nav bar sup */

/* stile nav bar inf */

.nav-logo{
  display: inline-block;
  width: 30%;
  padding: 25px 0;
}

.nav-section{
  display: inline-block;
  width: 69%;
  vertical-align: super;
  text-align: right;
}

.nav-section li{
  margin-left: 15px;
}
/* end stile nav bar inf */

/* sezione hero */
.hero{
  height: 580px;
  background-color: #fdf1ef;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  /* background-size: contain%; */
  background-position: 100% 28%;
}

.hero-dim{
  width: 75%;
  margin: auto;
}

.hero-title{
  width: 50%;
  padding-top: 40px;
  height: 100%
}

.hero-title .btn{
  margin-bottom: 20px;
}

/* end sezione hero */



/* sezione servizi */

/* titolo servizi */

#services::before{
  content: "";
  display: block;
  height:87px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

#services{
  background-color: #f4f9fd;
}

.services-dim{
  width: 75%;
  margin: auto;
}

.services-title {
  padding-top: 60px;
  width: 65%;
  margin: auto;
  text-align: center;
}

.services-title img{
  width: 250px;
}

.services-title h2{
  margin-bottom: 25px;
}

/* titolo servizi */

/* sezione cmr */

.services-cmr{
  background-color: white;
  border-radius: 5px;
  padding: 39px 0;
  box-shadow:  2px  2px 5px #dedede,
  -2px -2px 5px #dedede,
  2px -2px 5px #dedede,
  -2px  2px 5px #dedede;
}

.cmr-logo {
  text-align: center;
  float: left;
  width: 30%;
}

.cmr-logo img{
  width: 120px;
  display: inline-block;
  margin-bottom: 20px;
}

.cmr-text{
  float:left;
  width: 50%;
}

.cmr-text hr{
  margin-left: 30px;
  border-bottom: 2px solid #33475b;
  width: 300px;
}

.cmr-text h4, hr{
  display: inline-block;
}

.cmr-text nav{
  margin-top: 25px;;
}

.cmr-text li{
  display: inline-block;
  padding-right: 15px;
}

#services i{
  color: #f37559;
}

/* end sezione cmr */

/* sezione colonne */
.row{
  margin-top: 30px;
  padding-bottom: 50px;
}

.col{
  width: calc((100% / 3) - (80px / 3));
  float: left;
  background-color: white;
  text-align: center;
  padding: 20px 33px;
  box-shadow:  2px  2px 5px #dedede,
  -2px -2px 5px #dedede,
  2px -2px 5px #dedede,
  -2px  2px 5px #dedede;
  border-radius: 5px;
}

nav{
  text-align: left;
}

.col:not(:last-child){
  margin-right: 40px;
}

.col img{
  width: 30%;
  height: 100px;
}

.col hr{
  border: 1px solid #33475b;
  width: 70%;
}


.col h4{
  margin: 30px 0;
}

.col ul{
  list-style-type: none;
  margin-bottom: 30px;
}
/* end sezione colonne */

/* sezione gradiente */

#gradient{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
  padding: 60px 0;
}

.gradient-dim{
  width: 75%;
  margin: auto;
}

.gradient-title{
  text-align: center;
  padding: 30px 0;
}

.block{
  width: calc(100% / 4);
  text-align: center;
  float: left;
}

.block:not(:last-child){
  border-right: 1px solid white;
}

.block img{
  height: 48px;
  padding-top: 15px;
}

.block-text{
  margin-top: 10px;
}

.block-text h5{
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
}

.block span{
  font-size: 20px;
  vertical-align: middle;
}

.block p {
  margin-top: 10px;
  padding-bottom: 10px;
}

.row2-border-top{
  border-top: 1px solid white;
}

/* end sezione gradiente */

/* sezione partners */

#partners-start{
  margin-bottom: 30px;
}

.partners-division{
  margin:40px 0;
  padding: 0 40px;
}

.partners-number{
  width: 20%;
  display: inline-block;

}

.partners-number h2{
  font-size: 30px;
}

.partners-famous{
  width: 79%;
  float: right;
  padding-top: 10px;
}

.row3{
  text-align: right;
  padding-bottom: 15px;
}

.brand-logo{
  width: 140px;
  display: inline-block;
  margin-right: 15px;
}

.brand-logo img{
  max-width: 100%;
  vertical-align: middle;
}

/* end sezione partners */

/* sezione start */

.start{
  width: 45%;
  float: left;
}

.start-img{
  width: 55%;
  height: 276px;
  float: left;
  text-align: center;
  padding-bottom: 20px;
}

.start-img img{
  max-width: 100%;
  max-height: 100%;
}

/* end sezione start */

/* footer */

footer{
  background-color: #32495b;
  color: white;
}

.navigation-support{
  padding: 30px;
}

.row4{
  margin-bottom: 50px;
}

.utility{
  width: calc(100% / 4);
  float: left;
}

.utility h5 {
  font-size: 16px;
}

.utility p{
  line-height: 10px;
  color: #dadee0;
}

.footer-btn{
  display: inline-block;
  color: #32495b;
  background-color: #dadee0;
  text-align: center;
  border-radius: 5px;
  padding: 5px 8px;
}

.utility i {
  padding: 15px 0;
  padding-right: 23px;
}

.navigation-logo-privacy{
  padding-top: 20px;
}

.navigation-language{
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #dadee0;
}

.navigation-language a{
  margin-right: 15px;
  color: #dadee0;
}

.navigation-logo{
  display: inline-block;
  width: 30%;
}

.navigation-logo p{
  margin: 0 0;
}

.navigation-privacy{
  width: 50%;
  text-align: right;
  float: right;
}

.navigation-privacy a{
  padding-left: 15px;
}
