* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.nav-sup{
  height: 100px;
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
}

.nav-dim{
  width: 80%;
  margin: auto;
  height: 100%;
  background-color: green;
}
